/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

small {
	color:white;
}

.carousel-item {
height: 400px; /* Set desired height */
}

.carousel-item img {
	object-fit: cover; /* Ensures image fits within the defined height */
	height: 100%; /* Matches the carousel-item height */
	width: 100%; /* Ensures full width */
}

.bg-dark {
	color:#43464b;
}
